main {
    min-height: 100vh;
    background: black;
    color: white;
}

.limitBox {
    top: 0.5em;
    right: 0.5em;
    width: fit-content;
    height: 34px;
    border-radius: 0.5em;
    border: 1px solid #dee2e6;
}

.input-group-prepend {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    height: 100% !important;
}

.input-group-text {
    height: 100% !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.pagination-input {
    height: 100% !important;
}

.pointer {
    cursor: pointer;
}
