<table class="table caption-top user-select-none table-hover">
	<caption>
		List of matches
	</caption>
	<thead class="table-dark">
		<tr>
			<th scope="col">#</th>
			<th scope="col">Match</th>
		</tr>
	</thead>
	<tbody>
		<ng-container *ngIf="matches$ | async as matches; else elseBlock">
			<ng-container *ngIf="matches.length > 0; else elseBlock">
				<tr class="pointer" *ngFor="let match of matches" (contextmenu)="onRightClick($event, match)" (click)="onLeftClick(match)">
					<th scope="row">{{ match.id }}</th>
					<td>
						<table class="table table-striped">
							<thead>
								<tr>
									<th>SET:</th>
									<th *ngFor="let i of [1, 2, 3, 4, 5]">{{ i }}</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let player of match.players">
									<th>{{ player.name }}</th>
									<td *ngFor="let point of player.points">{{ point }}</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</ng-container>
		</ng-container>
		<ng-template #elseBlock>
			<tr>
				<td colspan="2" class="text-muted">No matches found</td>
			</tr>
		</ng-template>
	</tbody>
	<tfoot>
		<td colspan="2">
			<nav aria-label="Page navigation" class="position-relative">
				<ul class="pagination justify-content-center">
					<li class="page-item" [ngClass]="{ disabled: page.value === 0 }">
						<a class="page-link" (click)="changePage(page.value - 1)">&lt;</a>
					</li>
					<li class="page-item">
						<input type="number" class="pagination-input" maxlength="2" size="2" [formControl]="page" [attr.disabled]="true" />
					</li>
					<li class="page-item" [ngClass]="{ disabled: (page.value + 1) * limit.value >= matchSize }">
						<a class="page-link" (click)="changePage(page.value + 1)">&gt;</a>
					</li>
				</ul>
				<div class="input-group position-absolute limitBox">
					<div class="input-group-prepend">
						<span class="input-group-text">#</span>
					</div>
					<input
						type="number"
						class="pagination-input text-primary"
						(keydown)="updateLimitValue($event)"
						(keyup)="updateList($event)"
						[formControl]="limit"
					/>
				</div>
			</nav>
		</td>
	</tfoot>
</table>
<div
	style="visibility: hidden; position: fixed"
	[style.left]="menuTopLeftPosition.x"
	[style.top]="menuTopLeftPosition.y"
	[mat-menu-trigger-for]="menu"
>
	<mat-menu #menu>
		<button mat-menu-item (click)="editMatch()">
			<mat-icon>build</mat-icon>
			<span>Edit</span>
		</button>
		<button mat-menu-item (click)="deleteMatch()">
			<mat-icon>delete_forever</mat-icon>
			<span>Delete</span>
		</button>
	</mat-menu>
</div>
